@use "./theme/variables";
@use "./theme/searchable-select";

/* You can add global styles to this file, and also import other style files */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;

  thead {
    background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
  }
  th, td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid rgba(var(--ion-color-primary-rgb), 0.1);
  }

  th {
    &:first-child {
      border-top-left-radius: 1rem !important;
      border-bottom-left-radius: 1rem !important;
    }
    &:last-child {
      border-top-right-radius: 1rem !important;
      border-bottom-right-radius: 1rem !important;
    }
    cursor: pointer;
    user-select: none;
  }

  .user-table th:hover {
    background-color: var(--ion-color-light);
  }
}
