@use "./theme/searchable-select";
.badged-icon-container {
  position: relative;
  ion-badge {
    position: absolute;
    top: 5px;
    right: -3px;
    border-radius: 1rem;
    font-size: 0.75rem;
  }
}
